__pycache__/
*.py[co]
/build
/dist
/wagtail_localize.egg-info
/.coverage
/htmlcov
/.tox
/.venv
/venv
/.vscode
/site
/test_*.db
/node_modules
/test-static
/test-media
.idea
.fleet

.DS_Store
.ruff_cache
